<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artículos creados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>

<br/>

<h1>Bienvenido al Blog elRinconDeLectura</h1>
<br/>

<h4>Aquí podrás encontrar todos los artículos creados (y por crear) de nuestros usuarios</h4>
<div class="container">
  <div class="row" th:each="articulo:${listaArticulos}">
    <div class="col col-8" th:text="${articulo.titulo}">
      Título del artículo
      <a th:href=" '/detalle/' + ${articulo.id}" th:text="${articulo.titulo}"></a>
    </div>
    <div class="col col-2" th:text="${articulo.fecha}">
    </div>
    <div class="col col-2">
      <a th:href=" '/detalle/' + ${articulo.id}">Ampliar</a>
    </div>
  </div>
</div>


<br/>

<div>
  <a th:href="@{/index}" class="btn btn-primary">Inicio del Blog elRinconDeLectura</a>
</div>
<br/>


<div>
  <a th:href="@{/crud/articulos/altas}" class="btn btn-primary">Crea tu propio Artículo</a>
</div>
<br/>

<div>
  <a th:href="@{/crud/articulos}" class="btn btn-primary"> Edita tus Artículos - Formulario de Edición de Articulos (CRUD)</a>
</div>
<br/>

<div>
  <a th:href="@{/users}" class="btn btn-primary">Encuentra a los demás usuarios</a>
</div>
<br/>


</body>
</html>